/* Base styles for all screen sizes */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
  margin: 0;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  text-align: center;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow containers to wrap on smaller screens */
  max-width: 850px;
  background-color: red;
  padding: 20px;
  border-radius: 2%;
  margin: 10px;
}

.pomodoro-task-container,
.pomodoro-timer-container {
  flex: 1; /* Flexible width to allow containers to wrap */
  min-width: 300px; /* Prevent containers from shrinking beyond 300px */
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  margin: 10px;
}

/* Add animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.task-list li {
  animation: fadeIn 0.5s ease;
}

.pomodoro-timer {
  text-align: center;
  padding: 20px;
}

.pomodoro-timer-clock {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.pomodoro-timer-label {
  font-size: 18px;
  margin-bottom: 5px;
}

.pomodoro-timer-session {
  font-size: 16px;
}

.pomodoro-timer-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pomodoro-timer-controls button {
  margin: 0 5px;
}

.PomodoroTimer button,
.pomodoro-timer-settings label {
  display: block;
  margin-bottom: 10px;
}

.task-message {
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
  color: white;
  background-color: #222;
  padding: 10px;
  border-radius: 5px;
}

.task-list li.active-task {
  background-color: #e0e0e0;
}

/* input task fieldset  */
.pomodoro-task-container input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 7px;
  margin-right: 10px;
  color: #222;
}

.pomodoro-task-container .add-task-container {
  display: flex;
  align-items: center;
}

.pomodoro-timer-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.pomodoro-timer-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pomodoro-timer-button:hover {
  background-color: #45a049;
}

/* Add styles for ToDo List */
.task-list {
  margin-top: 20px;
}

.task-list li {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
}

.task-list li.active-task {
  background-color: #e0e0e0;
}

.task-list li button {
  background-color: #ff7f50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.task-list li button:hover {
  background-color: #ff6347;
}

/* Add styles for Pomodoro Timer */
.pomodoro-timer {
  border-radius: 2%;
  background-color: red;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.pomodoro-timer-clock {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 7px;
  color: #f1f1f1;
}

.pomodoro-timer-label {
  font-size: 15px;
  margin-bottom: 10px;
  color: #f1f1f1;
}

.pomodoro-timer-session {
  font-size: 16px;
  color: #f1f1f1;
}

.pomodoro-timer-controls {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.pomodoro-timer-controls button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.pomodoro-timer-controls button:hover {
  background-color: #45a049;
}

.pomodoro-timer-settings label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #555;
  margin-top: 15px;
}

.pomodoro-timer-settings input {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 16px;
  color: #222;
  width: 35px;
}

.pomodoro-timer-settings input:focus {
  outline: none;
  border-color: #4caf50;
}

/* Add styles for task status container */
.task-status-container {
  margin-bottom: 20px;
  text-align: center;
}

/* Add styles for task message */
.task-message {
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
  color: white;
  background-color: #222;
  padding: 10px;
  border-radius: 5px;
}

/* Footer styles */
.Footer {
  text-align: center;
  font-style: italic;
}

/* Media Queries for Responsiveness */

/* For smaller screens */
@media (max-width: 768px) {
  .main-container {
    max-width: 100%; /* Allow the container to take full width on small screens */
  }
  .pomodoro-task-container,
  .pomodoro-timer-container {
    min-width: 100%; /* Allow the containers to take full width on small screens */
    margin: 5px;
  }
  .pomodoro-timer-controls {
    flex-direction: column; /* Stack the controls vertically on small screens */
  }
}
