body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

h1 {
  text-align: center;
  margin: 20px 0;
}
h3{
  text-align: center;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.pomodoro-task-container {
  flex: 1;
  max-width: 400px;
  background-color: #ff0000;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.pomodoro-timer-container {
  flex: 1;
  max-width: 400px;
  background-color: #ff0000;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.pomodoro-timer {
  text-align: center;
}

.pomodoro-timer-clock {
  font-size: 48px;
  font-weight: bold;
  color: #000000;
}

.pomodoro-timer-session {
  font-size: 18px;
  color: #000000;
  margin-top: 10px;
}

.pomodoro-timer-controls {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.pomodoro-timer-button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.pomodoro-timer-button:hover {
  background-color: #000000;
  color: white;
}

.task-list {
  margin-top: 20px;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.active-task {
  background-color: #f0f0f0;
}

.add-task-container {
  display: flex;
  margin-top: 20px;
}

.add-task-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px 0 0 3px;
  margin-right: 10px; 
}

.add-task-container button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 0 3px 3px 0;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.add-task-container button:disabled {
  background-color: #000000;
  color: white;
  cursor: not-allowed;
}

.task-message {
  font-size: 16px;
  margin-top: 10px;
}

.pomodoro-timer-settings {
  margin-top: 20px;
}

.pomodoro-timer-settings label {
  display: block;
  margin-bottom: 10px;
}

.pomodoro-timer-settings input {
  width: 100px;
  padding: 5px;
}

/* Responsive CSS for Mobile View */

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .pomodoro-task-container,
  .pomodoro-timer-container {
    max-width: 100%;
    margin: 10px 0;
  }

  .pomodoro-timer {
    font-size: 24px;
  }

  .pomodoro-timer-clock {
    font-size: 36px;
  }

  .pomodoro-timer-controls {
    flex-direction: column;
  }

  .pomodoro-timer-controls button {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Footer Styles */

.Footer {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}



body {
  line-height: 1.6;
}

li {
  list-style: none;
}
